.player {
  width: 55px;
  }
  
  /* Dynamically set the background color based on player ID */
  // .player[style] {
  //   background-color: var(--player-color);
  // }  

  .player1 {
    left: 0;
  }
  
  .player2 {
    left: 10px; /* Adjust the left value based on your image size and layout */
  }
  
  .player3 {
    left: 20px; /* Adjust the left value based on your image size and layout */
  }
  
  .player4 {
    left: 30px; /* Adjust the left value based on your image size and layout */
  }